spring:
    application:
        name: gateway-service
    config:
        import: optional:configserver:http://localhost:8888
    main:
        allow-bean-definition-overriding: true

eureka:
    instance:
        hostname: localhost
        prefer-ip-address: false

