spring:
    application:
        name: customer-service
    config:
        import: optional:configserver:http://localhost:8888
    cloud:
        config:
            fail-fast: true

eureka:
    instance:
        hostname: localhost
        prefer-ip-address: false
